# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [11]:
# Your code here:

pokemon['Legendary'][pokemon['Legendary'] == True].count()

65

In [12]:
pokemon['Legendary'][pokemon['Legendary'] == False].count()

735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [13]:
# Your code here:
pokemon[pokemon['Legendary'] == True]['Total'].mean()

637.3846153846154

In [15]:
pokemon[pokemon['Legendary'] == False]['Total'].mean()

417.21360544217686

In [14]:
pokemon[pokemon['Legendary'] == True]['Total'].std()

60.93738905315344

In [16]:
pokemon[pokemon['Legendary'] == False]['Total'].std()

106.76041745713005

In [17]:
legendary_points = pokemon[pokemon['Legendary'] == True]['Total']
non_legendary_points = pokemon[pokemon['Legendary'] == False]['Total']

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [18]:
# Your code here:
from scipy.stats import ttest_ind
ttest_ind(legendary_points, non_legendary_points)

TtestResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52, df=798.0)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
como el p valor es muy bajo, sugiere que la diferencia de puntos entre los legendarios y los no legendarios es significante

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [25]:
# Your code here:
type1_counts = pokemon['Type 1'].value_counts()

type1_counts

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [32]:
# Your code here:
water = pokemon[pokemon['Type 1'] == 'Water']
non_water = pokemon[pokemon['Type 1'] != 'Water']

TypeError: can only concatenate str (not "int") to str

In [33]:
mean_water = np.mean(water['Total'])
std_water = np.std(water['Total'])

mean_water, std_water

(430.45535714285717, 112.681828329091)

In [34]:
mean_non_water = np.mean(non_water['Total'])
std_non_water = np.std(non_water['Total'])
mean_non_water, std_non_water

(435.85901162790697, 121.00364762501172)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [36]:
# Your code here:
ttest_ind(water['Total'], non_water['Total'], equal_var=True)

TtestResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793, df=798.0)

Write your conclusion below.

In [10]:
# Your conclusions here:
No tenemos evidencias suficientes para comprobar que haya una diferencia significativa en el total de puntos de los pokemon de agua contra los dem√°s pokemon

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [41]:
# Your code here:
from scipy.stats import ttest_rel

ataque = pokemon['Attack']
defensa = pokemon['Defense']

ttest_rel(ataque, defensa)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
Sugiere que hay una diferencia significativa entre el ataque y la defensa

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [50]:
# Your code here:
sp_defense = pokemon['Sp. Def']
sp_attack = pokemon['Sp. Atk']
ttest_rel(sp_defense, sp_attack)

TtestResult(statistic=-0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
No hay suficientes evidencias para rechazar H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [55]:
# Your code here:
from scipy.stats import ttest_1samp

ttest_1samp(ataque - defensa, 0)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [59]:
# Your code here:

crosstab = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')

crosstab

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [61]:
# Your code here:
from scipy.stats import chi2_contingency

chi2_contingency(crosstab)

Chi2ContingencyResult(statistic=2.9429200762850503, pvalue=0.0862546724955095, dof=1, expected_freq=array([[632.1, 102.9],
       [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here:
pvalue=0.0862546724955095
No podemos rechazar H0