# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd
# pa quitar warnings

import warnings
warnings.simplefilter('ignore')
import matplotlib.pyplot as plt

# ols = minimos cuadrados ordinarios, regresion lineal
import statsmodels.api as sm
from statsmodels.formula.api import ols

# esto son distribuciones
from scipy.stats import ttest_rel  # con muestras dependientes
from scipy.stats import ttest_ind # con muestras independientes
from statsmodels.multivariate.manova import MANOVA
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [11]:
# Your code here:

pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [12]:
# Your code here:

pokemon['Legendary'].value_counts()

'''
Legendary: 65
Regualr: 735
'''

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [40]:
# Your code here:

pokemon_legendary = pokemon[pokemon["Legendary"] == True]["Total"]


pokemon_legendary.describe()

count     65.000000
mean     637.384615
std       60.937389
min      580.000000
25%      580.000000
50%      600.000000
75%      680.000000
max      780.000000
Name: Total, dtype: float64

In [41]:

pokemon_regular = pokemon[pokemon["Legendary"] == False]["Total"]

pokemon_regular.describe()

count    735.000000
mean     417.213605
std      106.760417
min      180.000000
25%      324.000000
50%      425.000000
75%      498.000000
max      700.000000
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [43]:
# Your code here:
t_stat, p_value = ttest_ind(pokemon_legendary, pokemon_regular, equal_var=False)

print(f'T-statistic: {t_stat}')
print(f'P-value: {p_value}')

T-statistic: 25.8335743895517
P-value: 9.357954335957444e-47

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
'''
Ya que el valor p es menor que el nivel de significancia (0.05), podemos concluir que hay una 
diferencia significativa en los puntos totales entre Pokémon legendarios y no legendarios.'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [44]:
# Your code here:
pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [50]:
# Your code here:

pokemon_water = pokemon[pokemon["Type 1"] == "Water"] 
pokemon_water.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
std,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800
min,7.000000,200.000000,20.000000,10.000000,20.000000,10.000000,20.000000,15.000000,1.000000
25%,130.000000,328.750000,52.250000,53.000000,54.500000,55.000000,50.000000,50.000000,1.000000
50%,275.000000,455.000000,70.000000,72.000000,70.000000,70.000000,65.000000,65.000000,3.000000
75%,456.250000,502.250000,90.250000,92.000000,88.500000,90.500000,89.250000,82.000000,4.000000
max,693.000000,770.000000,170.000000,155.000000,180.000000,180.000000,160.000000,122.000000,6.000000

In [52]:
pokemon_non_water = pokemon[pokemon["Type 1"] != "Water"]
pokemon_non_water.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000
mean,372.536337,435.859012,68.802326,79.790698,73.988372,72.495640,72.127907,68.654070,3.399709
std,209.928799,121.091682,25.194299,33.025152,31.719933,33.292537,27.739292,29.925907,1.666119
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,197.750000,330.000000,50.000000,55.000000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,380.000000,450.000000,65.000000,76.000000,70.000000,65.000000,70.000000,65.000000,3.000000
75%,553.250000,515.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.000000
max,721.000000,780.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.000000

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [58]:
# Your code here:
pokemon_water = pokemon[((pokemon['Type 1'] == 'Water') | (pokemon['Type 2'] == 'Water'))]
pokemon_water_df = pokemon_water['Total'].to_frame()
pokemon_water_df

     Total
9      314
10     405
11     530
12     630
59     320
..     ...
759    500
760    320
762    330
763    500
799    600

[126 rows x 1 columns]

In [63]:
# Your code here:

pokemon_non_water = pokemon[((pokemon['Type 1'] != 'Water') | (pokemon['Type 2'] != 'Water'))]
pokemon_non_water_df = pokemon_non_water['Total'].to_frame()
pokemon_non_water_df

     Total
0      318
1      405
2      525
3      625
4      309
..     ...
795    600
796    700
797    600
798    680
799    600

[800 rows x 1 columns]

In [64]:
t_stat, p_value = ttest_ind(pokemon_water_df, pokemon_non_water_df, equal_var=True)

print(f'T-statistic: {t_stat}')
print(f'P-value: {p_value}')

T-statistic: [-0.52706889]
P-value: [0.59827226]

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [11]:
# Your code here:

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [13]:
# Your code here:

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: