# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [13]:
# import numpy and pandas
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

# esto son distribuciones
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

# ols = minimos cuadrados ordinarios, regresion lineal
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [3]:
# Your code here:
pokemon.Legendary.value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [4]:
# Your code here:

Legendaries = pokemon[pokemon.Legendary == True]
Non_legendaries = pokemon[pokemon.Legendary == False]

In [9]:
Leg_mean = Legendaries.Total.mean()
Leg_mean

637.3846153846154

In [10]:
Leg_std = Legendaries.Total.std()
Leg_std

60.93738905315344

In [11]:
nonleg_mean = Non_legendaries.Total.mean()
nonleg_mean

417.21360544217686

In [12]:
nonleg_std = Non_legendaries.Total.std()
nonleg_std

106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [14]:
from scipy.stats import ttest_rel   # con muestras dependientes 

from scipy.stats import ttest_ind   # con muestras independientes

In [17]:
# Ojo, al no tener la misma dimensión habría que limitar el tamaño de la muestra de los pokemon no legendarios
Non_legendaries_sample = Non_legendaries.sample(len(Legendaries))

In [21]:
# Your code here:
ttest_ind(Legendaries.Total, Non_legendaries_sample.Total, equal_var=False)

TtestResult(statistic=15.302265569517793, pvalue=5.229021700280763e-29, df=109.98498761107953)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Al ser el pvalor mucho menor que 0.05, podemos rechazar la H0 -> rechazamos la hipótesis de que legendarios y no legendarios sean iguales

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [23]:
# Your code here:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [27]:
# Your code here:
acuaticos = pokemon[pokemon['Type 1'] == 'Water']
resto = pokemon[pokemon['Type 1'] != 'Water']
acuaticos.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

In [29]:
acuaticos.describe().T

            count        mean         std    min     25%    50%     75%    max
#           112.0  303.089286  188.440807    7.0  130.00  275.0  456.25  693.0
Total       112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0
HP          112.0   72.062500   27.487026   20.0   52.25   70.0   90.25  170.0
Attack      112.0   74.151786   28.377192   10.0   53.00   72.0   92.00  155.0
Defense     112.0   72.946429   27.773809   20.0   54.50   70.0   88.50  180.0
Sp. Atk     112.0   74.812500   29.030128   10.0   55.00   70.0   90.50  180.0
Sp. Def     112.0   70.517857   28.460493   20.0   50.00   65.0   89.25  160.0
Speed       112.0   65.964286   23.019353   15.0   50.00   65.0   82.00  122.0
Generation  112.0    2.857143    1.558800    1.0    1.00    3.0    4.00    6.0

In [31]:
resto.describe().T

            count        mean         std    min     25%    50%     75%    max
#           688.0  372.536337  209.928799    1.0  197.75  380.0  553.25  721.0
Total       688.0  435.859012  121.091682  180.0  330.00  450.0  515.00  780.0
HP          688.0   68.802326   25.194299    1.0   50.00   65.0   80.00  255.0
Attack      688.0   79.790698   33.025152    5.0   55.00   76.0  100.00  190.0
Defense     688.0   73.988372   31.719933    5.0   50.00   70.0   90.00  230.0
Sp. Atk     688.0   72.495640   33.292537   10.0   45.00   65.0   95.00  194.0
Sp. Def     688.0   72.127907   27.739292   20.0   50.00   70.0   90.00  230.0
Speed       688.0   68.654070   29.925907    5.0   45.00   65.0   90.00  180.0
Generation  688.0    3.399709    1.666119    1.0    2.00    3.0    5.00    6.0

Perform a hypothesis test comparing the mean of **total points** for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [33]:
# Habría que volver a limitar el sample de los pokemos de resto de tipos a la longitud del sample de tipo agua
resto_sample = resto.sample(len(acuaticos))
resto_sample.shape

(112, 13)

In [41]:
#help(ttest_ind)

In [34]:
# Your code here:
ttest_ind(acuaticos.Total, resto_sample.Total, equal_var=True)

TtestResult(statistic=-0.4063616893301298, pvalue=0.6848683136853374, df=222.0)

Write your conclusion below.

In [35]:
# Your conclusions here:
# Al salir un pvalor >= 0.05 No podemos rechazar la H0 y diferenciar los pokemon de tipo acuatico del resto

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
#ttest_rel importado ya antes

In [43]:
#help(ttest_rel)

In [44]:
# Your code here:
# H0 - defense and attack scores are equal -> mu = 0
# H1 - defense and attack scores are not equal -> mu != 0 -> alternative='two-sided'

ttest_rel(pokemon.Attack, pokemon.Defense)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [45]:
# Your conclusions here:
# Obteniendo un pvalor < 0.05 podemos rechazar la hipótesis nula donde se dice que los valores de ataque y defensa son iguales

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [48]:
# Your code here:
# H0 - mean of Sp. Atk and Sp. Def are equal -> mu = 0
# H1 - mean of Sp. Atk and Sp. Def are not equal -> mu != 0

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# Obtenemos un pvalor > 0.05 por lo que no podemos rechazar la hipótesis nula

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [49]:
from scipy.stats import ttest_1samp

In [50]:
# Your code here:
difference = pokemon['Sp. Atk'] - pokemon['Sp. Def']
difference.head()

0     0
1     0
2     0
3     2
4    10
dtype: int64

In [51]:
ttest_1samp(difference, 0, alternative='two-sided')

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

In [52]:
# Efectivamente obtenemos un resultado prácticamente igual que en el ttest_rel()
# Seguimos sin poder rechazar la H0

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [53]:
chi2_contingency

In [54]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [68]:
# Your code here:
contingency = pd.crosstab(pokemon.Legendary, pokemon['Type 1'] == 'Water')
contingency

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [73]:
# Your code here:
ji_dos, pval, dof, ex = chi2_contingency(contingency)

print(f' Chi^2: {ji_dos}\n Pvalor: {pval}\n DOF: {dof}\n Exogenos: {ex}')

 Chi^2: 2.9429200762850503
 Pvalor: 0.0862546724955095
 DOF: 1
 Exogenos: [[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [74]:
# Your answer here:
# Habiendo obtenido un pvalor mayor de 0.05 no podemos rechazar la hipótesis nula que dice que NO existe una asociación significativa entre grupos. Es decir, NO existe una
# asociación significativa entre que un pokemos sean legendario y que sea de tipo agua.