# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [68]:
import pandas as pd
import numpy as np

from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp


import warnings
warnings.simplefilter('ignore')

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

pokemon.columns = [i.lower().replace(' ', '_') for i in pokemon.columns]

Let's start off by looking at the `head` function in the cell below.

In [5]:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
pokemon.legendary.value_counts()

legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
pokemon.groupby(pokemon.legendary == True)['total'].mean()

legendary
False    417.213605
True     637.384615
Name: total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

H0 (no hay diferencia significativa entre las muestras)

H1 (existe una diferencia significativa entre las muestras)

In [65]:
legen = pokemon[pokemon.legendary==True]
legen_no = pokemon[pokemon.legendary==False]

In [66]:
ttest_ind(legen.total, legen_no.total,
          equal_var=False
         )

TtestResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47, df=102.79988763435729)

What do you conclude from this test? Write your conclusions below.

El pvalue es inferior a 0.05, por lo tanto podemos rechazar H0 y concluir que hay una diferencia significativa entre las muestras. Existe diferencia en la columna `total` entre pokemons legendarios y normales

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [27]:
pokemon.type_1.value_counts()

type_1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [67]:
a = pokemon[pokemon.type_1 == 'Water']['total']
b = pokemon[pokemon.type_1 != 'Water']['total']

print('Mean water:', a.mean(), 'mean no water:', b.mean())
print('std water:', a.std(), 'std no water:', b.mean())

Mean water: 430.45535714285717 mean no water: 435.85901162790697
std water: 113.1882660643146 std no water: 435.85901162790697

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [45]:
t_stat, p_value = ttest_ind(a,
                            b,
                            equal_var=True)

t_stat, p_value

(-0.4418547448849676, 0.6587140317488793)

Write your conclusion below.

El p_value es superior a 0.05, por lo tanto no tenemos suficiente evidencia para rechazar la hipótesis nula. Concluimos que no hay una diferencia significativa entre las muestras. No existe una diferencia en la columna ``total`` entre pokemon de agua y el resto

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [49]:
attack = pokemon.attack
defense = pokemon.defense

In [55]:
ttest_rel(attack,
          defense,
          axis = 0,
          alternative = 'two-sided')

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

H0: are equal

H1: not equal

Debido a que el pvalue es menor que 0.05 podemos tenemos suficiente evidencia como para rechazar la hipótesis nula. Es decir, concluimos que existen diferencias entre las puntuaciones de ataque y defensa.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [60]:
sp_attack = pokemon['sp._atk']
sp_deffense = pokemon['sp._def']

In [61]:
ttest_rel(sp_attack,
          sp_deffense,
          axis = 0,
          alternative = 'two-sided')

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

H0: are equal

H1: not equal

Debido a que el pvalue es superior que 0.05 no tenemos suficiente evidencia como para rechazar la hipótesis nula. Es decir, concluimos que no existen diferencias entre las puntuaciones de sp_ataque y sp_defensa.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

H0: no diferencia

H1: si diferencia

In [73]:
t_test = ttest_1samp(attack-defense,
                     0,
                     alternative='two-sided'
                    )

t_test

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Debido a que el pvalue es menor que 0.05 podemos tenemos suficiente evidencia como para rechazar la hipótesis nula. Es decir, concluimos que existen diferencias entre las puntuaciones de ataque y defensa.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [78]:
cross = pd.crosstab(pokemon['legendary'], pokemon['type_1'] == 'Water')
cross

type_1     False  True
legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [79]:
chi2_contingency(cross)

Chi2ContingencyResult(statistic=2.9429200762850503, pvalue=0.08625467249550949, dof=1, expected_freq=array([[632.1, 102.9],
       [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

No deberíamos rechazar la hipótesis nula debido a que esta es mayor que 0.05. No se rechaza H0, no existe asociacion significativa entre los grupos.