# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp 
from scipy.stats import ttest_rel
import warnings
warnings.simplefilter('ignore')

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

legendary = pokemon[pokemon['Legendary']==True]
len(legendary)

65

In [6]:
no_legendary = pokemon[pokemon['Legendary']==False]
len(no_legendary)

735

In [7]:
'legendary' == 'no_legendary'

False

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
legendary['Total'].mean(), legendary['Total'].std()

(637.3846153846154, 60.93738905315346)

In [9]:
no_legendary['Total'].mean(), no_legendary['Total'].std()

(417.21360544217686, 106.76041745713022)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [14]:
ttest_ind(legendary['Total'], no_legendary['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

*Con un valor p tan pequeño, se rechazaría H0 (hipótesis de que legendarios y no legendarios sean iguales). Por lo tanto, concluyo que hay una diferencia significativa en los puntos totales entre los Pokémon legendarios y no legendarios.*

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [82]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [86]:
# Your code here:

tipos= pokemon['Type 1'].value_counts()
tipos

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [147]:
cross = pd.crosstab(pokemon.Legendary, pokemon['Type 1'] == 'Water')
cross

Type 1     False  True
Legendary
False        627    108
True          61      4

In [148]:
ji_dos, pval, dof, ex = chi2_contingency(cross)
pval

0.08625467249550949

*Al ser el p-value mayor que 0.05, no tengo evidencia suficiente para rechazar la hipótesis nula.*

In [158]:
water_pokemon=pokemon[pokemon['Type 1']=='Water']
water_pokemon.describe().T

            count        mean         std    min     25%    50%     75%    max
#           112.0  303.089286  188.440807    7.0  130.00  275.0  456.25  693.0
Total       112.0  430.455357  113.188266  200.0  328.75  455.0  502.25  770.0
HP          112.0   72.062500   27.487026   20.0   52.25   70.0   90.25  170.0
Attack      112.0   74.151786   28.377192   10.0   53.00   72.0   92.00  155.0
Defense     112.0   72.946429   27.773809   20.0   54.50   70.0   88.50  180.0
Sp. Atk     112.0   74.812500   29.030128   10.0   55.00   70.0   90.50  180.0
Sp. Def     112.0   70.517857   28.460493   20.0   50.00   65.0   89.25  160.0
Speed       112.0   65.964286   23.019353   15.0   50.00   65.0   82.00  122.0
Generation  112.0    2.857143    1.558800    1.0    1.00    3.0    4.00    6.0

In [159]:
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']
other_pokemon.describe().T

            count        mean         std    min     25%    50%     75%    max
#           688.0  372.536337  209.928799    1.0  197.75  380.0  553.25  721.0
Total       688.0  435.859012  121.091682  180.0  330.00  450.0  515.00  780.0
HP          688.0   68.802326   25.194299    1.0   50.00   65.0   80.00  255.0
Attack      688.0   79.790698   33.025152    5.0   55.00   76.0  100.00  190.0
Defense     688.0   73.988372   31.719933    5.0   50.00   70.0   90.00  230.0
Sp. Atk     688.0   72.495640   33.292537   10.0   45.00   65.0   95.00  194.0
Sp. Def     688.0   72.127907   27.739292   20.0   50.00   70.0   90.00  230.0
Speed       688.0   68.654070   29.925907    5.0   45.00   65.0   90.00  180.0
Generation  688.0    3.399709    1.666119    1.0    2.00    3.0    5.00    6.0

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [154]:
ttest_ind(water_pokemon['Total'], other_pokemon['Total'], equal_var=True )

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

*Asumiendo que la hipótesis nula es cierta. Un valor p alto sugiere que no hay suficiente evidencia para rechazar la hipótesis nula.*

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
'''
H0: Las puntuaciones de defensa y ataque son iguales.
H1: Las puntuaciones de defensa y ataque no son iguales.
alternative: two-side
'''

In [130]:
defensa_ataques= pokemon[['Defense', 'Attack']]
defensa_ataques.head()

   Defense  Attack
0       49      49
1       63      62
2       83      82
3      123     100
4       43      52

In [164]:
ttest_rel(pokemon.Defense, pokemon.Attack)

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

*Al ser el p_value >que 0.05 significa que son independientes, es decir, no hay una asociación significativa y se rechaza H0(Las puntuaciones de defensa y ataque son iguales).*

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
'''
H0:  Las medias de Defensa Especial y Ataque Especial son iguales

H1: Hay una diferencia significativa entre las medias de Defensa 
Especial y Ataque Especial

'''

In [171]:
pokemon['Sp. Atk'].mean()

72.82

In [172]:
pokemon['Sp. Def'].mean()

71.9025

In [170]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

*El p_value es > 0.05, es decir,existe una asociación significativa entre la media de la Defensa Especial y la media del Ataque Especial. Por lo que, rechazamos a H0.*

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [176]:
# Your code here:
diferencia = pokemon['Sp. Atk'] - pokemon['Sp. Def']
diferencia.head()

0     0
1     0
2     0
3     2
4    10
dtype: int64

In [177]:
#mu es cero
ttest_1samp(diferencia, 0, alternative='two-sided')

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

*En el p_value se observa un resultado prácticamente igual que en el p_value del  ttest_rel. Por lo que, seguimos sin poder rechazar H0.*

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: