# Challenge - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](https://keydifferences.com/difference-between-t-test-and-anova.html).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](https://www.itl.nist.gov/div898/handbook/eda/section3/eda3673.htm) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [36]:
# Import libraries

import numpy as np
import pandas as pd
from scipy.stats import ttest_rel   
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp 
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

In [16]:
# Import dataset

pokemon = pd.read_csv('../pokemon.csv')

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [14]:
unique_types = pd.unique(pd.concat([pokemon['Type 1'], pokemon['Type 2']]))
len(unique_values)

19

In [15]:
print(unique_types)

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying' nan]

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [34]:
pokemon_totals = []

for item in unique_types:
    
    if type(item) == str: 
        pokemon_totals.append(pokemon['Total'][pokemon['Type 1'] == item].sum() + pokemon['Total'][pokemon['Type 2'] == item].sum())
    
    else: 
        pass 
    
print(pokemon_totals)
len(pokemon_totals)

[39703, 29895, 54066, 27326, 41011, 24657, 22242, 29552, 16637, 24916, 42938, 26050, 20096, 17763, 27088, 23506, 23843, 45837]

18

In [33]:
pokemon_totals = []

# Iterate through the given list
for item in unique_types:
    
    # Initialize a sublist for each item in my_list
    pokemon_groups = []
    
    # Check if the current item is present in 'Type 1' or 'Type 2' columns
    if item in pokemon['Type 1'].values or item in pokemon['Type 2'].values:
        
        # Append 'Total' values where the current item is present in 'Type 1' or 'Type 2'
        pokemon_groups.extend(pokemon[(pokemon['Type 1'] == item) | (pokemon['Type 2'] == item)]['Total'].tolist())
    
    # Append the sublist for the current item to the totals_lists list
    pokemon_totals.append(pokemon_groups)
    
print(pokemon_totals[0])

[318, 405, 525, 625, 320, 395, 490, 285, 405, 300, 390, 490, 325, 520, 435, 318, 405, 525, 490, 250, 340, 460, 180, 425, 600, 310, 405, 530, 630, 220, 340, 480, 220, 340, 480, 295, 460, 400, 335, 475, 355, 495, 460, 318, 405, 525, 280, 515, 424, 275, 450, 454, 334, 494, 594, 535, 525, 520, 600, 600, 308, 413, 528, 316, 498, 310, 380, 500, 280, 480, 280, 480, 461, 335, 475, 294, 464, 305, 489, 580, 313, 405, 530, 350, 531, 309, 474, 335, 335, 335, 335, 494, 494, 494, 494]

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.f_oneway.html).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [39]:
# Your code here
f_oneway(*pokemon_totals)

ValueError: zero-dimensional arrays cannot be concatenated

#### Interpret the ANOVA test result. Is the difference significant?

In [ ]:
# Your comment here