# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [61]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency
from scipy.stats import ttest_ind
from statsmodels.stats import weightstats as w 
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [33]:
filtrado_leg=pokemon.Total[pokemon['Legendary']==True]
print(f'media de legendary:{filtrado_leg.mean()}')
print(f'desviación estandar de legendary:{filtrado_leg.std()}')
filtrado_no_leg=pokemon.Total[pokemon['Legendary']==False]
print(f'media de no legendary:{filtrado_no_leg.mean()}')
print(f'desviación estandar de no legendary:{filtrado_no_leg.std()}')

media de legendary:637.3846153846154
desviación estandar de legendary:60.93738905315346
media de no legendary:417.21360544217686
desviación estandar de no legendary:106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [34]:
#Primero miramos la independencia:
#¿Existe asociación significativa entre grupos?
#Ho:No
#H1:Sí
cross = pd.crosstab(pokemon.Legendary, pokemon.Total)

cross

Total,180,190,194,195,198,200,205,210,213,215,...,634,635,640,660,670,680,700,720,770,780
Legendary,,,,,,,,,,,,,,,,,,,,,
False,1,1,1,3,1,3,5,3,1,1,...,2,1,1,0,1,0,4,0,0,0
True,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,3,13,5,1,2,3

In [35]:
ji_dos, pval, dof, ex = chi2_contingency(cross)

pval

1.149036304151654e-40

In [36]:
#Rechazamos Ho, podríamos decir que significativamente existe una asociación  entre estas dos variables.

In [37]:
#Vamos a suponer que aquí no ha pasado nada y son independientes porque en el enunciado nos dicen que hagamos el ttest.ind

In [40]:
#H0:mu=0
#H1:mu distinto de 0

In [39]:
ttest_ind(filtrado_leg, filtrado_no_leg,
         alternative='two-sided',
         equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

In [ ]:
#Rechazamos 0

What do you conclude from this test? Write your conclusions below.

In [41]:
#La media de las dos poblaciones son distintas.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [47]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [51]:
filtrado_water=pokemon.Total[pokemon['Type 1']=='Water']
print(f'media de Water:{filtrado_water.mean()}')
print(f'desviación estandar de Water:{filtrado_water.std()}')
filtrado_type1=pokemon.Total[pokemon['Type 1']!='Water']
print(f'media de todos los pokemon:{filtrado_type1.mean()}')
print(f'desviación estandar de todos los pokemon:{filtrado_type1.std()}')

media de Water:430.45535714285717
desviación estandar de Water:113.18826606431458
media de todos los pokemon:435.85901162790697
desviación estandar de todos los pokemon:121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [52]:
#H0:mu=0
#H1:mu distinto de 0
ttest_ind(filtrado_water, filtrado_type1,
         alternative='two-sided',
         equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [53]:
#El p-valor es superior a 0.05 entonces aceptaríamos H0, o sea, la media de las dos muestras es significativamente igual.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [57]:
#muestras dependientes
#diferencias entre puntuaciones de defensa y ataque de cada Pokemon.
#H0: son iguales las puntuaciones
#H1: son diferentes
defensa=pokemon['Defense']
ataque=pokemon['Attack']
ttest_rel(defensa, ataque,
         alternative='two-sided')

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [58]:
#Se podría rechazar H0, o sea significativamente la media de estas dos puntuaciones son diferentes.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [60]:
#muestras dependientes
#diferencias entre defensa especial y ataque especial.
#H0: son iguales las puntuaciones
#H1: son diferentes
defensa_especial=pokemon['Defense']
ataque_especial=pokemon['Sp. Atk']
ttest_rel(defensa_especial, ataque_especial,
         alternative='two-sided')

TtestResult(statistic=0.7259849581471128, pvalue=0.4680605907243355, df=799)

Describe the results of the test in the cell below.

In [19]:
#Significativamente podríammos aceptar H0, o sea, podríamos decir que las medias son significativamente iguales.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [62]:
dif=pokemon['Defense'] - pokemon['Attack']
mu=0
ttest_1samp(dif, mu)

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [ ]:
#Rechazamos H0

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [21]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [22]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [23]:
# Your answer here: