# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [112]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [16]:
# Your code here:
pokemon.Legendary.value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [20]:
# Your code here:

pokemon.describe().T

            count       mean         std    min     25%    50%     75%    max
#           800.0  362.81375  208.343798    1.0  184.75  364.5  539.25  721.0
Total       800.0  435.10250  119.963040  180.0  330.00  450.0  515.00  780.0
HP          800.0   69.25875   25.534669    1.0   50.00   65.0   80.00  255.0
Attack      800.0   79.00125   32.457366    5.0   55.00   75.0  100.00  190.0
Defense     800.0   73.84250   31.183501    5.0   50.00   70.0   90.00  230.0
Sp. Atk     800.0   72.82000   32.722294   10.0   49.75   65.0   95.00  194.0
Sp. Def     800.0   71.90250   27.828916   20.0   50.00   70.0   90.00  230.0
Speed       800.0   68.27750   29.060474    5.0   45.00   65.0   90.00  180.0
Generation  800.0    3.32375    1.661290    1.0    2.00    3.0    5.00    6.0

In [105]:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
ji_dos, pval, dof, ex = chi2_contingency(rate_pivot[[leg,n]])

pval

In [30]:
media = pokemon.groupby('Legendary')['Total'].mean()
std = pokemon.groupby('Legendary')['Total'].std()
print(media)
print(std)

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64
Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

In [104]:
legen= pokemon[pokemon['Legendary']== True] 
no_legen= pokemon[pokemon['Legendary']== False]

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [50]:
from scipy.stats import ttest_ind

In [78]:
# Your code here:

ttest_ind(legen.Total, no_legen.Total, 
          alternative='two-sided',
          equal_var=False   # varianza NO igual en las dos muestras
         )

TtestResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47, df=102.79988763435729)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
# rechazamos la hipotesis nula ya que hay una diferencia significativa

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [82]:
# Your code here:
type_1=pokemon.groupby('Type 1')['Total'].size()
type_1

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Total, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [88]:
# Your code here:

water=pokemon[pokemon['Type 1'] == 'Water']['Total'].mean()
print(water)
all_nw=pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()
print(all_nw)

430.45535714285717
435.85901162790697

In [86]:
pokemon[pokemon['Type 1'] == 'Water']['Total'].std()
print(pokemon[pokemon['Type 1'] == 'Water']['Total'].std())
pokemon[pokemon['Type 1'] != 'Water']['Total'].std()
print(pokemon[pokemon['Type 1'] != 'Water']['Total'].std())

113.18826606431458
121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [101]:
ab=pokemon[pokemon['Type 1'] == 'Water']
ac=pokemon[pokemon['Type 1'] != 'Water']

In [102]:
# Your code here:
ttest_ind(ab.Total, ac.Total, 
          alternative='two-sided',
          equal_var=True
         )

TtestResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793, df=798.0)

Write your conclusion below.

In [10]:
# Your conclusions here:
# no podemos rechazar la hipotesis nula ya que el pvalue esta por encima de 0.05

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [110]:
# Your code here:
from scipy.stats import ttest_rel
ttest, pvalue = ttest_rel(pokemon.Attack, pokemon.Defense)
pvalue

1.7140303479358558e-05

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# rechazamos la hypotesis porque tienen una diferencia significativa por debajo de nuestro 0.05, de referencia para rechazar hipotesis.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [115]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [122]:
# Your code here:
pokemon['Sp. Atk'].mean()

72.82

In [123]:
pokemon['Sp. Def'].mean()

71.9025

In [124]:
ttest, pvalue = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
pvalue

0.3933685997548122

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# saco las dos medias para ver si tienen diferencia significateiva con un 95%, a ojo no puedo verlo por lo que hago un ttest_rel
# y veo que no hay una diferencia significativa ya que el pvalue es 0.3933 por lo que no rechazamos la hipotesis nula

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [126]:
from scipy.stats import ttest_1samp

In [130]:
# Your code here:
ttest_1samp(pokemon.Attack - pokemon.Defense, 0)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: