# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [32]:
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [10]:
leg = pokemon[pokemon['Legendary'] == True]
nonleg = pokemon[pokemon['Legendary'] == False]

In [16]:
leg['Total'].mean()

637.3846153846154

In [17]:
nonleg['Total'].mean()

417.21360544217686

In [18]:
leg['Total'].std()

60.93738905315346

In [19]:
nonleg['Total'].std()

106.7604174571302

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [28]:
import numpy as np
from scipy.stats import t
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind

In [44]:
from scipy.stats import chi2_contingency

In [ ]:
#H0: no hay diferencia significativa
#H1. hay diferencia significativa

In [30]:
ttest_ind, p_value = ttest_ind(leg['Total'], nonleg['Total'], equal_var=False)
ttest_ind, p_value

(25.8335743895517, 9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
"""
Como decía, si es menor que 0,05, existe diferencia significativa entre  legendarios y no legendarios.
"""

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [31]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [39]:
water_pokemon = pokemon[pokemon['Type 1'] == "Water"]
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']

In [41]:
water_pokemon['Total'].mean()

430.45535714285717

In [42]:
other_pokemon['Total'].mean()

435.85901162790697

In [ ]:
water_pokemon['Total'].std()

In [43]:
other_pokemon['Total'].std()

121.09168230208063

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [48]:
ttest_ind, p_value = ttest_ind(water_pokemon['Total'], other_pokemon['Total'], equal_var=True)
ttest_ind, p_value

(-0.4418547448849676, 0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
"""
Si el pvalor es mayor que 0,05, no existe diferencia significativa entre las variables que estamos comprando.
"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
#Quiero desmontar la H0, entonces si es menor que 0,05, "llevo yo razon" y es H1.

In [ ]:
#H0:defense and attack scores are equal. Si es menor que 0, 05, se rechaza H0 y entonces es H1.
#H1:defense and attack scores are not equal.

In [49]:
from scipy.stats import ttest_rel

In [51]:
ttest, pvalue = ttest_rel(pokemon.Attack, pokemon.Defense)

ttest, pvalue

(4.325566393330478, 1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
"""
Como el pvalor es menor que 0,05, la hipótesis nula se descarta y se acepta H1, por lo que no son iguales.
"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [58]:
pokemon['Sp. Atk'].mean()

72.82

In [59]:
pokemon['Sp. Def'].mean()

71.9025

In [60]:
ttest, pvalue = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

ttest, pvalue

(0.853986188453353, 0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
"""
Como el pvalor es mayor que 0,05, la hipótesis nula se acepta y se rechaza H1, por lo que  son iguales en este caso.
"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [67]:
# Your code here:
difference = pokemon['Attack'] - pokemon['Defense']
difference

0        0
1       -1
2       -1
3      -23
4        9
      ...
795    -50
796     50
797     50
798    100
799    -10
Length: 800, dtype: int64

mu = 0

In [68]:
# diferencia de muestras frente a media 0

ttest_1samp(difference, 0)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [ ]:
"""
Como vemos, al realizar la resta no nos da 0, es decir, el pvalor es diferente de 0, 
por lo que confirmamos que existe diferencia entre ambos.
"""

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: