# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [25]:
# Your code here:

legendary = pokemon[pokemon["Legendary"] == True]
legendary.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [15]:
non_legendary = pokemon[pokemon["Legendary"] == False]
non_legendary.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [44]:
len(legendary)

65

In [45]:
len(non_legendary)

735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [51]:
legen_stats_mean = legendary["Total"].mean()
legen_stats_mean

637.3846153846154

In [47]:
legendary["Total"].std()

60.93738905315346

In [52]:
non_legen_stats_mean = non_legendary["Total"].mean()
non_legen_stats_mean

417.21360544217686

In [48]:
non_legendary["Total"].std()

106.76041745713022

In [40]:
legendary_stats = pd.DataFrame({"Total": legendary["Total"]})
legendary_stats.head()

     Total
156    580
157    580
158    580
162    680
163    780

In [39]:
non_legendary_stats = pd.DataFrame({"Total": non_legendary["Total"]})
non_legendary_stats.head()

   Total
0    318
1    405
2    525
3    625
4    309

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [42]:
from scipy.stats import ttest_ind

In [58]:
ttest_ind(legendary_stats,non_legendary_stats,equal_var=False)

Ttest_indResult(statistic=array([25.83357439]), pvalue=array([9.35795434e-47]))

What do you conclude from this test? Write your conclusions below.

*Dado que el valor p es muy pequeño, menor que el umbral de significancia (como 0.05), se rechaza la hipótesis nula. En términos prácticos, esto sugiere que hay una diferencia significativa entre las dos muestras.*

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [59]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [62]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [85]:
water_poke = pokemon[(pokemon["Type 1"] == "Water") | (pokemon["Type 2"] == "Water") ]
water_poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,689,Barbaracle,Rock,Water,500,72,105,115,54,86,68,6,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [86]:
non_water_poke = pokemon[(pokemon["Type 1"] != "Water") | (pokemon["Type 2"] != "Water") ]
non_water_poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [87]:
water_poke_stats = pd.DataFrame({"Total": water_poke["Total"]})
water_poke_stats.head()

    Total
9     314
10    405
11    530
12    630
59    320

In [88]:
non_water_poke_stats = pd.DataFrame({"Total": non_water_poke["Total"]})
non_water_poke_stats.head()

   Total
0    318
1    405
2    525
3    625
4    309

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

Write your conclusion below.

In [89]:
# Your conclusions here:

ttest_ind(water_poke_stats,non_water_poke_stats,equal_var=True)

Ttest_indResult(statistic=array([-0.52706889]), pvalue=array([0.59827226]))

*Nos quedamos con H0, es decir, no existe diferencia significativa entre pokemon de agua y el resto.*

**Para muestras independientes, aunque las muestras tengan longitudes diferentes, el ttest funciona. Siendo estrictos y haciendo la muestra del mismo tamaño, la variación del valor p es mínima; habría que imponerlo en el caso de que el valor se quedara cerca del umbral.**
*Se usa ttest_ind*

**Para muestras dependientes, la longitud de las muestras tiene que ser la misma.**
*Se usa ttest_rel*

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [90]:
from scipy.stats import ttest_rel

In [111]:
poke_att = pokemon["Attack"].to_frame()
poke_att.head()

   Attack
0      49
1      62
2      82
3     100
4      52

In [112]:
poke_def = pokemon["Defense"].to_frame()
poke_def.head()

   Defense
0       49
1       63
2       83
3      123
4       43

In [115]:
ttest_rel(poke_att,poke_def)

TtestResult(statistic=array([4.32556639]), pvalue=array([1.71403035e-05]), df=array([799]))

Describe the results of the test in the cell below.

*Podemos rechazar H0, por tanto, podemos decir que no hay diferencias significativas*

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [116]:
# Your code here:

poke_sp_att = pokemon["Sp. Atk"].to_frame()
poke_sp_def = pokemon["Sp. Def"].to_frame()

In [117]:
ttest_rel(poke_sp_att,poke_sp_def)

TtestResult(statistic=array([0.85398619]), pvalue=array([0.3933686]), df=array([799]))

Describe the results of the test in the cell below.

*Podemos rechazar H0, por tanto, podemos decir que no hay diferencias significativas*

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [120]:
from scipy.stats import ttest_1samp

In [127]:
pokemitos = pokemon.Attack - pokemon.Defense
pokemitos

0        0
1       -1
2       -1
3      -23
4        9
      ...
795    -50
796     50
797     50
798    100
799    -10
Length: 800, dtype: int64

In [128]:
ttest_1samp(pokemitos, 0, alternative='two-sided' )

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

*Dentro de los argumentos, pongo mu = 0. La H0 es mu = 0, porque estoy compromando mu ataque - mu defensa si son iguales. Además el p value hecho en el apartado anterior es el mismo*

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [130]:
import pandas as pd

In [138]:
# Crear una crosstab para "Water" y no "Water" en Type 1, y si es "Legendary" o no

poke_cross = pd.crosstab(index=pokemon['Type 1'] == 'Water', columns=pokemon['Legendary'])

# Convertir la tabla cruzada a un DataFrame
poke_cross = pd.DataFrame(poke_cross)

poke_cross

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [140]:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

In [141]:
ji_dos, pval, dof, ex = chi2_contingency(poke_cross)

ji_dos, pval, dof, ex

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1,  55.9],
        [102.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

*Nos quedamos con H0, significa que no hay asociación significativa entre los pokemon tipo agua y legendarios.*