# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [90]:
# import numpy and pandas

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp

from scipy.stats import chi2_contingency

import statsmodels.api as sm
from statsmodels.formula.api import ols

import warnings
warnings.simplefilter('ignore')

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
pokemon.shape

(800, 13)

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [15]:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

In [16]:
legendary_pokemon = pokemon[pokemon['Legendary'] == True]
legendary_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [11]:
non_legendary_pokemon = pokemon[pokemon['Legendary'] == False]
non_legendary_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [27]:
len(non_legendary_pokemon)

735

In [29]:
len(legendary_pokemon)

65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [19]:
# Your code here:
legendary_mean = legendary_pokemon['Total'].mean()
legendary_mean

637.3846153846154

In [20]:
legendary_std = legendary_pokemon['Total'].std()
legendary_std

60.93738905315344

In [21]:
non_legendary_mean = non_legendary_pokemon['Total'].mean()
non_legendary_mean

417.21360544217686

In [22]:
non_legendary_std = non_legendary_pokemon['Total'].std()
non_legendary_std

106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
cross = pd.crosstab(pokemon['Legendary'],pokemon['Total'])

cross

Total,180,190,194,195,198,200,205,210,213,215,...,634,635,640,660,670,680,700,720,770,780
Legendary,,,,,,,,,,,,,,,,,,,,,
False,1,1,1,3,1,3,5,3,1,1,...,2,1,1,0,1,0,4,0,0,0
True,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,3,13,5,1,2,3

In [33]:
ji_dos, p_value, dof, ex = chi2_contingency(cross)

p_value

1.149036304151654e-40

In [38]:
# **Conclusion**
# p_value < 0.05, se rechaza H0, no existe asociacion significativa entre los grupos.

In [80]:
t_stat, p_value = ttest_ind(legendary_pokemon['Total'], non_legendary_pokemon['Total'], equal_var=False)
t_stat, p_value

(25.8335743895517, 9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

- The p-value is approximately 9.35795e-47
- Interpreting the results:
    - Sugiere evidencia en contra de la hipótesis nula. 
    
- **Conclusion**

    - p_value < 0.05, RECHAZAMOS H0 --> EXISTE DIFERENCIA SIGNIFICATIVA.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [39]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [41]:
type_counts = pokemon['Type 1'].value_counts()
type_counts

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [44]:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']
water_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

In [43]:
non_water_pokemon = pokemon[pokemon['Type 1'] != 'Water']
non_water_pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [51]:
water_mean = water_pokemon['Total'].mean()
water_mean

430.45535714285717

In [52]:
water_std = water_pokemon['Total'].std()

water_std

113.1882660643146

In [53]:
# Calculate mean and standard deviation for Non-Water-type Pokémon

non_water_mean = non_water_pokemon['Total'].mean()

non_water_mean

435.85901162790697

In [54]:
non_water_std = non_water_pokemon['Total'].std()

non_water_std

121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [55]:
# Your code here:

t_stat, p_value = ttest_ind(water_pokemon['Total'], non_water_pokemon['Total'], equal_var=True)
t_stat, p_value

(-0.4418547448849676, 0.6587140317488793)

Write your conclusion below.

- El p_valor es de 0.658 por lo que podemos asumir que no hay diferencia actal entre los dos grupos.

- Con un valor p de 0.66, que es mayor que el nivel de significancia común de 0.05, no hay suficiente evidencia para rechazar la H0. Por lo tanto, según este análisis, no hay una diferencia estadísticamente significativa en los puntos 'Total' entre los Pokémon de tipo Agua y los de otros tipos.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [56]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# PRIMERO OBSERVAMOS SI LAS MUESTRAS SON DEPENDIENTES O INDEPENDIENTES.

In [74]:
crosst = pd.crosstab(pokemon['Attack'], pokemon['Defense'])

crosst.head()

Defense,5,10,15,20,23,25,28,30,32,33,...,135,140,145,150,160,168,180,184,200,230
Attack,,,,,,,,,,,,,,,,,,,,,
5,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
ji_dos, pval, dof, ex = chi2_contingency(crosst)

pval

3.2545678295428316e-306

In [ ]:
# segun el p_value = 3.2545e-306 --> existe dependencia significativa

Suponemos:

    mu = mu1 - mu2 
    
    Puntuaciones de defensa de los Pokémon.
    Puntuaciones de ataque de los Pokémon.
    
    H0 = mu1 - mu2 = 0   --> no hay diferencia significativa
    H1 = mu1 - mu2 != 0  --> hay diferencia significativa

In [62]:
defense_scores = pokemon['Defense']
defense_scores.head()

0     49
1     63
2     83
3    123
4     43
Name: Defense, dtype: int64

In [63]:
attack_scores = pokemon['Attack']
attack_scores.head()

0     49
1     62
2     82
3    100
4     52
Name: Attack, dtype: int64

In [68]:
t_stat, p_value = ttest_rel(defense_scores, attack_scores)
t_stat, p_value

(-4.325566393330478, 1.7140303479358558e-05)

Describe the results of the test in the cell below.

**CONCLUSION** 
 
 Las hipótesis definidas al inicio del problema son las siguientes: 
 
    H0 = mu1 - mu2 = 0   --> no hay diferencia significativa
    H1 = mu1 - mu2 != 0  --> hay diferencia significativa
    
  En este caso, el p_valor es 1.7140e-05, por lo que p_valor < 0.05. 
  Esto indica que existe fuerte evidencia en contra de la hipótesis nula.
  - Dado que el valor p es menor que 0.05, rechazamos la hipótesis nula.
  - Concluimos que hay una diferencia significativa entre las puntuaciones de defensa y ataque de los Pokémon en la muestra.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [69]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Suponemos:

    mu = mu1 - mu2 
    
    Puntuaciones de Sp. Def de los Pokémon.
    Puntuaciones de Sp. Atk de los Pokémon.
    
    H0 = mu1 - mu2 = 0   --> no hay diferencia significativa
    H1 = mu1 - mu2 != 0  --> hay diferencia significativa

In [84]:
cros = pd.crosstab(pokemon['Sp. Atk'], pokemon['Sp. Def'])
cros.head()

Sp. Def,20,23,25,30,31,32,33,34,35,36,...,129,130,135,138,140,150,154,160,200,230
Sp. Atk,,,,,,,,,,,,,,,,,,,,,
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
ji_dos, pval, dof, ex = chi2_contingency(cros)

pval

0.0

In [85]:
sp_atk = pokemon['Sp. Atk']
sp_atk.head()

0     65
1     80
2    100
3    122
4     60
Name: Sp. Atk, dtype: int64

In [86]:
sp_def = pokemon['Sp. Def']
sp_def.head()

0     65
1     80
2    100
3    120
4     50
Name: Sp. Def, dtype: int64

In [87]:
t_stat, p_value = ttest_rel(sp_atk, sp_def)
t_stat, p_value

(0.853986188453353, 0.3933685997548122)

Describe the results of the test in the cell below.

**CONCLUSION** 
 
 Las hipótesis definidas al inicio del problema son las siguientes: 
 
    H0 = mu1 - mu2 = 0   --> no hay diferencia significativa
    H1 = mu1 - mu2 != 0  --> hay diferencia significativa
    
  En este caso, el p_valor es 0.39, por lo que p_valor > 0.05. 
  Esto indica que no existe evidencia en contra de la hipótesis nula.
  - Dado que el valor p es mayor que 0.05, no podemos rechazar la hipótesis nula.
  - Concluimos que no hay una diferencia significativa entre las puntuaciones de defensa y ataque de los Pokémon en la muestra.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [91]:
score_difference = pokemon['Defense'] - pokemon['Attack']

t_stat, p_value = ttest_1samp(score_difference, 
                              0, 
                             alternative = 'two-sided')
 
t_stat, p_value

(-4.325566393330478, 1.7140303479358558e-05)

 En este caso, el p_valor es 1.71e-05, por lo que p_valor < 0.05. 
 Esto indica que existe evidencia en contra de la hipótesis nula.
  - Dado que el valor p es mayor que 0.05, no podemos rechazar la hipótesis nula.
  - Concluimos que hay una diferencia significativa entre las diferencias de defensa y ataque de los Pokémon en la muestra.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [100]:
conting = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')
conting

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [101]:
ji_dos, pval, dof, ex = chi2_contingency(conting)

pval

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

En un test de hipótesis, el p-valor se compara con el nivel de significancia (usualmente 0.05) para determinar si rechazamos o no la hipótesis nula.

- En este caso, si el p-valor es menor que el nivel de significancia (0.05), entonces rechazamos la hipótesis nula. - Si el p-valor es mayor que 0.05, no hay suficiente evidencia para rechazar la hipótesis nula.

Dado que el p-valor = 0.08625, es mayor que 0.05, no hay suficiente evidencia para rechazar la hipótesis nula. 
En otras palabras, no hay una diferencia estadísticamente significativa en la distribución de los Pokémon legendarios y no legendarios con respecto a si su Type 1 es Water o no.