# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [30]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_rel  

from scipy.stats import ttest_ind  
from scipy.stats import chi2_contingency
from scipy.stats import ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [10]:
# Your code here:
print("mean Legendary: ", pokemon.Total[pokemon.Legendary].mean(), " / std Legendary: ", pokemon.Total[pokemon.Legendary].std())
print("mean Not Legendary: ", pokemon.Total[~pokemon.Legendary].mean(), " / std  Not Legendary: ", pokemon.Total[~pokemon.Legendary].std())

mean Legendary:  637.3846153846154  / std Legendary:  60.93738905315346
mean Not Legendary:  417.21360544217686  / std  Not Legendary:  106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
# Your code here:
leg_total = pokemon.Total[pokemon.Legendary]
notleg_total = pokemon.Total[~pokemon.Legendary]
ttest_ind(leg_total,notleg_total, equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [15]:
# Your conclusions here:
'''
Hay claramente diferencia significativa entre los puntos totales de lo legendarios y los no legendarios
'''

'\nHay claramente diferencia significativa entre los puntos totales de lo legendarios y los no legendarios\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here:

pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [19]:
# Your code here:
print("mean Water: ", pokemon.Total[pokemon["Type 1"] == "Water"].mean(), " / std Water: ",  pokemon.Total[pokemon["Type 1"] == "Water"].std())
print("mean Rest: ", pokemon.Total[pokemon["Type 1"] != "Water"].mean(), " / std Rest: ",  pokemon.Total[pokemon["Type 1"] != "Water"].std())

mean Water:  430.45535714285717  / std Water:  113.18826606431458
mean Rest:  435.85901162790697  / std Rest:  121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [21]:
# Your code here:
water = pokemon.Total[pokemon["Type 1"] == "Water"]
not_water = pokemon.Total[pokemon["Type 1"] != "Water"]
ttest_ind(water, not_water, equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [22]:
# Your conclusions here:
'''
No hay diferencia significativa entre los pokemon tipo agua y el resto
'''

'\nNo hay diferencia significativa entre los pokemon tipo agua y el resto\n'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [27]:
chi2_contingency(pokemon["Attack"], pokemon["Defense"])

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=0, expected_freq=array([ 49.,  62.,  82., 100.,  52.,  64.,  84., 130., 104.,  48.,  63.,
        83., 103.,  30.,  20.,  45.,  35.,  25.,  90., 150.,  45.,  60.,
        80.,  80.,  56.,  81.,  60.,  90.,  60.,  85.,  55.,  90.,  75.,
       100.,  47.,  62.,  92.,  57.,  72., 102.,  45.,  70.,  41.,  76.,
        45.,  70.,  45.,  80.,  50.,  65.,  80.,  70.,  95.,  55.,  65.,
        55.,  80.,  45.,  70.,  52.,  82.,  80., 105.,  70., 110.,  50.,
        65.,  95.,  20.,  35.,  50.,  50.,  80., 100., 130.,  75.,  90.,
       105.,  40.,  70.,  80.,  95., 120.,  85., 100.,  65.,  75.,  75.,
        35.,  60.,  65.,  85., 110.,  45.,  70.,  80., 105.,  65.,  95.,
        35.,  50.,  65.,  65.,  45.,  48.,  73., 105., 130.,  30.,  50.,
        40.,  95.,  50.,  80., 120., 105.,  55.,  65.,  90.,  85., 130.,
         5.,  55.,  95., 125.,  40.,  65.,  67.,  92.,  45.,  75.,  45.,
       110.,  50.,  83.,  95., 125., 155., 100.,  10., 125., 155.,  85.,
        48.,  55.,  65.,  65., 130.,  60.,  40.,  60.,  80., 115., 105.,
       135., 110.,  85.,  90., 100.,  64.,  84., 134., 110., 190., 150.,
       100.,  49.,  62.,  82.,  52.,  64.,  84.,  65.,  80., 105.,  46.,
        76.,  30.,  50.,  20.,  35.,  60.,  90.,  90.,  38.,  58.,  40.,
        25.,  30.,  20.,  40.,  50.,  75.,  40.,  55.,  75.,  95.,  80.,
        20.,  50., 100.,  75.,  35.,  45.,  55.,  70.,  30.,  75.,  65.,
        45.,  85.,  65.,  65.,  85.,  75.,  60.,  72.,  33.,  80.,  65.,
        90.,  70.,  75.,  85., 125.,  80., 120.,  95., 130., 150.,  10.,
       125., 185.,  95.,  80., 130.,  40.,  50.,  50., 100.,  55.,  65.,
       105.,  55.,  40.,  80.,  60.,  90.,  90.,  95.,  60., 120.,  80.,
        95.,  20.,  35.,  95.,  30.,  63.,  75.,  80.,  10.,  85., 115.,
        75.,  64.,  84., 134., 164.,  90., 130., 100.,  45.,  65.,  85.,
       110.,  60.,  85., 120., 160.,  70.,  85., 110., 150.,  55.,  90.,
        30.,  70.,  45.,  35.,  70.,  35.,  50.,  30.,  50.,  70.,  40.,
        70., 100.,  55.,  85.,  30.,  50.,  25.,  35.,  65.,  85.,  30.,
        60.,  40., 130.,  60.,  80., 160.,  45.,  90.,  90.,  51.,  71.,
        91.,  60., 120.,  20.,  45.,  45.,  65.,  75.,  85.,  85., 105.,
        70.,  90., 110., 140.,  40.,  60., 100.,  45.,  75.,  75.,  50.,
        40.,  73.,  47.,  60.,  43.,  73.,  90., 120., 140.,  70.,  90.,
        60., 100., 120.,  85.,  25.,  45.,  60., 100.,  70., 100.,  85.,
       115.,  40.,  70., 110., 115., 100.,  55.,  95.,  48.,  78.,  80.,
       120.,  40.,  70.,  41.,  81.,  95., 125.,  15.,  60.,  70.,  90.,
        75., 115., 165.,  40.,  70.,  68.,  50., 130., 150.,  23.,  50.,
        80., 120.,  40.,  60.,  80.,  64., 104.,  84.,  90.,  30.,  75.,
        95., 135., 145.,  55.,  75., 135., 145., 100.,  50.,  75.,  80.,
       100.,  90., 130., 100., 150., 150., 180., 150., 180., 100., 150.,
       180.,  70.,  95.,  68.,  89., 109.,  58.,  78., 104.,  51.,  66.,
        86.,  55.,  75., 120.,  45.,  85.,  25.,  85.,  65.,  85., 120.,
        30.,  70., 125., 165.,  42.,  52.,  29.,  59.,  79.,  69.,  94.,
        30.,  80.,  45.,  65., 105.,  35.,  60.,  48.,  83., 100.,  50.,
        80.,  66.,  76., 136.,  60., 125.,  55.,  82.,  30.,  63.,  93.,
        24.,  89.,  80.,  25.,   5.,  65.,  92.,  70.,  90., 130., 170.,
        85.,  70., 110., 145.,  72., 112.,  50.,  90.,  61., 106., 100.,
        49.,  69.,  20.,  62.,  92., 132., 120.,  70.,  85., 140., 100.,
       123.,  95.,  50.,  76., 110.,  60.,  95., 130.,  80., 125., 165.,
        55., 100.,  80.,  50.,  65.,  65.,  65.,  65.,  65.,  75., 105.,
       125., 120., 120.,  90., 160., 100., 120.,  70.,  80., 100.,  90.,
       100., 103., 120., 100.,  45.,  60.,  75.,  63.,  93., 123.,  55.,
        75., 100.,  55.,  85.,  60.,  80., 110.,  50.,  88.,  53.,  98.,
        53.,  98.,  53.,  98.,  25.,  55.,  55.,  77., 115.,  60., 100.,
        75., 105., 135.,  45.,  57.,  85., 135.,  60.,  60.,  80., 105.,
       140.,  50.,  65.,  95., 100., 125.,  53.,  63., 103.,  45.,  55.,
       100.,  27.,  67.,  35.,  60.,  92.,  72.,  82., 117.,  90., 140.,
        30.,  86.,  65.,  95.,  75.,  90.,  58.,  30.,  50.,  78., 108.,
       112., 140.,  50.,  95.,  65., 105.,  50.,  95.,  30.,  45.,  55.,
        30.,  40.,  65.,  44.,  87.,  50.,  65.,  95.,  60., 100.,  75.,
        75., 135.,  55.,  85.,  40.,  60.,  75.,  47.,  77.,  50.,  94.,
        55.,  80., 100.,  55.,  85., 115.,  55.,  75.,  30.,  40.,  55.,
        87., 117., 147.,  70., 110.,  50.,  40.,  70.,  66.,  85., 125.,
       120.,  74., 124.,  85., 125., 110.,  83., 123.,  55.,  65.,  97.,
       109.,  65.,  85., 105.,  85.,  60.,  90., 129.,  90., 115., 100.,
       115., 105., 120., 150., 125., 145., 130., 170., 120.,  72.,  72.,
        77., 128., 120.,  61.,  78., 107.,  45.,  59.,  69.,  56.,  63.,
        95.,  36.,  56.,  50.,  73.,  81.,  35.,  22.,  52.,  50.,  68.,
        38.,  45.,  65.,  65., 100.,  82., 124.,  80.,  48.,  48.,  48.,
        80., 110., 150.,  50.,  52.,  72.,  48.,  80.,  54.,  92.,  52.,
       105.,  60.,  75.,  53.,  73.,  38.,  55.,  89., 121.,  59.,  77.,
        65.,  92.,  58.,  50.,  50.,  75., 100.,  80.,  70., 110.,  66.,
        66.,  66.,  66.,  90.,  85.,  95., 100.,  69., 117.,  30.,  70.,
       131., 131., 100., 100., 160., 110., 160., 110.]))

In [23]:
# Your code here:
ttest_rel(pokemon["Attack"], pokemon["Defense"])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
'''
Hay diferencias significativas entre Attack vs. Defense
'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [28]:
# Your code here:
ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [29]:
# Your conclusions here:
'''
No hay diferencias significativasentre Sp. Atk vs Sp. Def

'''

'\nNo hay diferencias significativasentre Sp. Atk vs Sp. Def\n\n'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [55]:
# Your code here:
diff = pokemon["Defense"]-pokemon["Attack"]
ttest_1samp(diff, 0)

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [63]:
# Your code here:

cross = pd.crosstab( pokemon["Legendary"], pokemon["Type 1"]=="Water")
cross

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [64]:
# Your code here:
chi2_contingency(cross)

Chi2ContingencyResult(statistic=2.9429200762850503, pvalue=0.08625467249550949, dof=1, expected_freq=array([[632.1, 102.9],
       [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [66]:
# Your answer here:
'''
No podemos rechazar la hipótesis nula ya que el p_value es mayor a 0,05

'''

'\nNo podemos rechazar la hipótesis nula ya que el p_value es mayor a 0,05\n\n'